# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Special PICS
*.svn
*.cof
*.hex
*.map
*.mcs
*.cce
*.lst
*.rlf
*.sdb
*.cceadd 
NMakefile
#*.X
*.zip
#*.mcw

Release
build
objects
bin/debug
cscope.out
bin
*.elf

*.d
log
Debug
*.suo
*.v12.suo
*.sdf
*.aps
*.opensdf
*.sdf
*.VC.db
*.ipch
*.opendb

