# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Special PICS
*.svn
*.cof
*.hex
*.map
*.mcs
*.cce
*.lst
*.rlf
*.sdb
*.cceadd 
NMakefile
#Makefile
#*.X
*.zip
#*.mcw


build
objects
bin/debug
cscope.out
bin
*.elf

*.d
log
Debug
*.suo
*.v12.suo
*.sdf
*.aps
*.opensdf
*.sdf
*.VC.db
*.ipch
*.opendb

/MOTOR_BOARD_32.X/dist/default/
/MECHANICAL_MAIN_BOARD_32_CPU1 _FOR_MOTOR/dist/default/
/TITAN_MAIN_BOARD_32.X/dist/default/
